[Unit]
Description=GW_MP MQTT Manager Service
After=gw_mp_config_manager.service
Requires=gw_mp_config_manager.service

[Service]
User=root
WorkingDirectory=/opt/gwmp
ExecStart=/usr/bin/python3 /opt/gwmp/gw_mp_mqtt_server.py
Restart=on-failure

[Install]
WantedBy=multi-user.target