[Unit]
Description=GW_MP Configuration Manager Service

[Service]
User=root
WorkingDirectory=/opt/gwmp
ExecStart=/usr/bin/python3 /opt/gwmp/gw_mp_config_server.py
Restart=on-failure

[Install]
WantedBy=multi-user.target