[Unit]
Description=GW_MP MODBUS TCP Client Service
After=gw_mp_mqtt_manager.service
After=gw_mp_config_manager.service
Requires=gw_mp_config_manager.service
Requires=gw_mp_mqtt_manager.service

[Service]
User=root
WorkingDirectory=/opt/gwmp
ExecStart=/usr/bin/python3 /opt/gwmp/gw_mp_modbus_client.py
Restart=on-failure

[Install]
WantedBy=multi-user.target